<div class="container">
  <h1>Button Component</h1>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="btnColor">Color</label>
        <select id="btnColor"
                class="form-control"
                [(ngModel)]="color">
          <option *ngFor="let item of colors"
                  [ngValue]="item">
            {{item}}
          </option>
        </select>
      </div>

    </div>
    <div class="col">
      <div class="form-group">
        <label for="btnColor">Size</label>
        <select id="btnColor"
                class="form-control"
                [(ngModel)]="size">
          <option *ngFor="let item of sizes"
                  [ngValue]="item">
            {{item}}
          </option>
        </select>
      </div>
    </div>
  </div>


  <button fly-button
          [size]="size"
          [color]="color">
    Button
  </button>
  <router-outlet></router-outlet>

</div>
